{% extends "base.html" %} {% block title_head %}Listado paletas{% endblock title_head %} {% block h1_header %} Listado
paletas{%endblock h1_header %} {% block main_content %}
<form action="">
    <table>
        {{paleta_formulario}}
    </table>
    <input type="submit" value="Buscar" />
</form>

<p>Valor de busqueda: {{modelo}}</p>

{% if paletas %}
<ul>
    {% for paleta in paletas %}
    <li>{{paleta.marca}} - {{paleta.modelo}}</li>
    {% endfor %}
</ul>
{% else %}
<p>No se encontraron paletas.</p>
{% endif %}{% endblock main_content %}
